<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>phoneHome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D39F4C2C1CA4D10C00DEF4F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D39F4C451CA4D10C00DEF4F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D39F4C501CA4D10C00DEF4F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
