<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>表格加载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3DCF0641CA93EF8003E74D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3DCF07D1CA93EF8003E74D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3DCF0881CA93EF8003E74D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
