html,body{-webkit-touch-callout: none;}
body,ul,li,p{margin:0;padding:0;}
body{color: #303030;background: #f8f8f8;}
.night{color:#aeaeae;background:#2b2b2b;}

/*链接的通用设置，链接包括 用户名， 设备名， 回复、支持、举报、反对， 查看更多评论， 显示所有评论*/
a{color:#111;text-decoration:none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
.night a{color:#888;}
a:hover{color:#d22222;}
a:active{color:#8f001e;}

/****************************************************************************************************/
/****************************************************************************************************/

/*总评论区域*/
.post_comment{width:auto;padding:18px 33px;font-size:14px;font-family:'Microsoft Yahei';overflow:hidden;-webkit-text-size-adjust:none;}
.night .post_comment{color:#999;}

/*评论标题*/
.comm_title{margin-top: 11px;border-bottom:1px #e7e7e7 solid;padding-bottom:0px;}
.night .comm_title{border-bottom:1px #585858 solid;}

.comm_title h1{font-weight:400;display:block;padding:1px 0px 0px 0px;font-size: 13px;text-align: left;color:#8a8a8a;text-indent:0px;text-align:justify;text-justify:distribute;}
.night .comm_title h1{color:#8a8a8a;}

/*总评论区域(除标题)*/
.comm_list{padding-top:12px;}

/*总评论区域列表*/
.comm_list ul{list-style:none;}
/*楼中楼评论区域列表*/
.comm_list ul.list li.entry ul.reply{clear:both;padding:8px 8px 0 8px;border:1px #e0dcc5 solid;background:#fbf9ee;zoom:1;margin:0 5px 10px 31px;}
.night .comm_list ul.list li.entry ul.reply{border:1px #555555 solid;background:#393939;}

/****************************************************************************************************/
/****************************************************************************************************/

/*评论总标题 热门评论 最新评论 等*/
.comm_list h3{clear:both;display:inline-block;overflow:hidden;color:#ffffff;background-color:#d22222;width:80px;height:21px;border-radius:12px;text-align:center;font-size:15px;line-height:21px;}
.night .comm_list h3{color:#cecece;background-color:#bd1f1f;}

/*最新最热按钮*/
.comm_list span.icon2{display:inline-block;float:right;padding-right:5px;padding-top:12px;font-size:14px;}
.comm_list span.icon2 label{display:inline-block;padding-left:2px;padding-right:5px;line-height:18px;}
.comm_list span.icon2 .pay_list_c1{
    display:inline-block;
    height: 21px;
    width: 18px;
    text-align: center;
    background-image: url(radio_noselect.svg);
    background-repeat: no-repeat;
    background-position: 0 3px;
}
.comm_list span.icon2 .on {
    background-image: url(radio_select.svg);
    background-repeat: no-repeat;
    background-position: 0 3px;
}
.comm_list span.icon2 .radioclass {
    opacity: 0;
}

/*列表中的一条评论（包括回复楼）*/
.comm_list ul.list li.entry{width:100%;border-top:none;border-bottom:1px #ddd solid;overflow:hidden;*float:left;*display:inline;padding-top:8px;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.night .comm_list ul.list li.entry{border-bottom:1px #585858 solid;}
.comm_list ul.list li.entry:first-child{border-top:0;margin-top:0px;}
.comm_list ul.list li.entry:last-child{border:0;}
/*楼中楼中的一条评论*/
.comm_list ul.list li.entry ul.reply li.gh{border-bottom:1px dotted #e0dcc5;}
.night .comm_list ul.list li.entry ul.reply li.gh{border-bottom:1px dotted #555555;}
.comm_list ul.list li.entry ul.reply li.gh:last-child{border:0;}
.night .comm_list ul.list li.entry ul.reply li.gh:last-child{border:0;}
.comm_list ul.list li.entry ul.reply li.divgh:last-child{border-bottom:1px dotted #e0dcc5;}
.night .comm_list ul.list li.entry ul.reply li.divgh:last-child{border-bottom:1px dotted #555555;}
/*.comm_list ul.list li.entry ul.reply li{*width:100%;}*/  /*这里面的*表示是ie的专用符号*/
/*楼中楼 显示更多评论*/
.comm_list ul.list li.entry ul.reply .zheDie{font-size:14px;padding:10px 0;text-align:center;}
.comm_list ul.list li.entry ul.reply .zheDie a{color:#1E75D1;font-size:14px;}
.comm_list ul.list li.entry ul.reply .zheDie a:hover{text-decoration:underline;}

/****************************************************************************************************/
/****************************************************************************************************/

/*头像*/
ul.list li.entry .headerimage{display:inline-block;width:25px;height:25px;border-radius:12.5px;float:left;overflow:hidden;opacity:1.0;margin-left:0px;margin-top:-2px}
.night ul.list li.entry .headerimage{opacity:0.7;}
/*楼中楼头像*/
ul.list li.entry .headerimage{display:inline-block;width:25px;height:25px;border-radius:12.5px;float:left;overflow:hidden;opacity:1.0;margin-left:0px;margin-top:-2px}
.night ul.list li.entry .headerimage{opacity:0.7;}
/*一条评论的名称、地理位置等信息*/
.comm_list ul.list li.entry .info,.comm_list ul.list li.entry .re_info{padding:10px 0 10px 0;font-size:14px;color:#555;text-decoration:none;}
.night .comm_list ul.list li.entry .info,.night .comm_list ul.list li.entry .re_info{color:#999;}
/*用户名与设备*/
ul.list li.entry .nameanddev{display:inline-block;float:left;padding-left:6px;}
/*楼中楼用户名与设备*/
ul.list li.entry .znameanddev{display:inline-block;float:left;padding-left:6px;}
/*位置与时间*/
ul.list li.entry .posandtime{clear:left;float:left;color:#8a8a8a;font-size:13px;padding-top:2px;padding-left:6px;margin-left:25px;margin-top: -5px;}
.night ul.list li.entry .posandtime{color:#9f9f9f;}
/*楼中楼位置与时间*/
ul.list li.entry .zposandtime{clear:left;float:left;color:#8a8a8a;font-size:11px;padding-top:2px;padding-left:6px;margin-left:25px;margin-top: －5px;}
.night ul.list li.entry .posandtime{color:#9f9f9f;}
/*楼中楼名称、地理位置等信息*/
.comm_list ul.list li.entry ul.reply .re_info{padding-top:5px;}
/*单个评论强调字体 包括楼层号，用户名等*/
.comm_list ul.list li.entry .info strong,.comm_list ul.list li.entry .re_info strong{padding-right:6px;font-size:16px;}
/*楼中楼强调字体 包括楼层号，用户名等*/
.comm_list ul.list li.entry .re_info strong{font-weight:normal;}
/*楼层号*/
ul.list li.entry .p_floor{display:inline-block;float:right;color:#8a8a8a;padding-right:11px;font-size:14px;}
.night #newshotcomment ul.list li.entry .p_floor{color:#9f9f9f;}
/*用户名*/
.comm_list ul.list li.entry .rmp strong.nick a{color:#4780dd;opacity:1.0;}
.night .comm_list ul.list li.entry .rmp strong.nick a{opacity:1.0;color:#4479d0;}
.comm_list ul.list li.entry .rmpvip strong.nick a{padding-right:22px;font-size:14px;color:#ea6415;background:url(rmpvip_icon.svg) right center no-repeat;opacity:1.0;}
.night .comm_list ul.list li.entry .rmpvip strong.nick a{opacity:1.0;color:#ea6415;}

/****************************************************************************************************/

/*一条评论的设备名称以及设备图像等信息*/
ul li .mobile{padding-right: 6px;}
ul li .mobile a{color:#666;display: inline-block;background: url(comment_icon.svg) left -57px no-repeat;padding-left: 15px;line-height:17px;opacity:1.0;}
.night ul li .mobile a{opacity:0.7;}
ul li .iphone a,ul li .itouch a{color:#496fcb;background-position:left -38px;}
ul li .ipad a{padding-left:18px;color:#496fcb;background-position:left -76px;}
ul li .wp a{color:#bd3e9f;background-position:left -19px;}
ul li .android a{color:#6f9811;background-position:left 0px;}
ul li .windows8 a{padding-left:18px;color:#0281ed;background-position:left -95px;}
ul li .windows10 a{padding-left:18px;color:#0281ed;background-position:left -95px;}
ul li .win10 a{color:#bd3e9f;background-position:left -114px;}
ul li .swordfish a{padding-left:18px;color:#1578ff;background-position:left -133px;}

/****************************************************************************************************/

/*评论内容*/
.comm_list ul.list li.entry p{clear:both;padding:9px 5px 10px 31px;line-height:150%;word-wrap:break-word;color:#000;font-size:16px;text-align:justify;text-justify:distribute;}
.night .comm_list ul.list li.entry p{color:#aeaeae;}
/*楼中楼评论内容*/
.comm_list ul.list li.entry ul.reply p{clear:both;padding:6px 5px 5px 0px;line-height:150%;word-wrap:break-word;color:#000;font-size:16px;text-align:justify;text-justify:distribute;}
.night .comm_list ul.list li.entry ul.reply p{color:#aeaeae;}

/*被屏蔽评论的显示*/
.comm_list ul.list li.entry span.blocked{clear:both;display:block;margin:9px 5px 10px 31px;border:1px dotted #ccc;font-size:12px;text-align:center;background:#fafafa;color:#888;line-height:150%;}
.night .comm_list ul.list li.entry span.blocked{border:1px dotted #999;background:#3a3a3a;color:#aaa;}
/*被屏蔽评论楼中楼评论的显示*/
.comm_list ul.list li.entry ul.reply li.gh .blocked{margin:6px 5px 5px 0px;}
/*评论内容区域*/
.comm {clear:both;overflow:hidden;}
/*楼中楼评论内容区域*/
.re_comm {clear:both;overflow:hidden;}

/****************************************************************************************************/

/*评论的举报反对支持回复总区域*/
.comm_list ul.list li.entry .zhiChi{padding:0px 5px 30px 11px;}
.comm_list ul.list li.entry span.comm_reply{float:right;padding-top:5px;padding-bottom:5px;font-size:13px;color:#aaa;display:block;text-align:center;}
.night .comm_list ul.list li.entry span.comm_reply{color:#555;}
.comm_list ul.list li.entry span.comm_replycomplain{float:left;padding-top:5px;padding-bottom:5px;font-size:13px;color:#aaa;display:block;text-align:center;}
.night .comm_list ul.list li.entry span.comm_replycomplain{color:#555;}
.comm_list ul.list li.entry span.comm_showallsinglecomment{float:left;padding-top:5px;padding-bottom:5px;font-size:13px;color:#aaa;display:block;text-align:center;}
.night .comm_list ul.list li.entry span.comm_showallsinglecomment{color:#555;}
/*评论信息中（包括普通以及楼中楼）回复支持反对等连接*/
.comm_list ul.list li.entry span.comm_reply a{padding:5px 9px 5px 9px;font-size:12px;color:#555;}
.comm_list ul.list li.entry span.comm_replycomplain a{padding:5px 12px 5px 0px;font-size:12px;color:#555;}
.comm_list ul.list li.entry span.comm_showallsinglecomment a{padding:5px 20px 5px 20px;font-size:12px;color:#4d93f2;font-weight:100;}
.night .comm_list ul.list li.entry span.comm_reply a{color:#9f9f9f;}
.night .comm_list ul.list li.entry span.comm_replycomplain a{color:#9f9f9f;}
.night .comm_list ul.list li.entry span.comm_showallsinglecomment a{color:#4669b1;}
.comm_list ul.list li.entry span.comm_reply a.asupport{color:#28bd98;}
.comm_list ul.list li.entry span.comm_reply a.aagainst{color:#ff6f6f;}
.night .comm_list ul.list li.entry span.comm_reply a.asupport{color:#17876b;}
.night .comm_list ul.list li.entry span.comm_reply a.aagainst{color:#d04e4e;}
/*楼中楼的支持区域*/
.comm_list ul.list li.entry ul.reply .zhiChi{padding:0px 0px 25px 0px;}

/****************************************************************************************************/
/****************************************************************************************************/

/*更多评论区域*/
.comm_list .more_comm{width:100%;height:43px;border-top:1px #d22222 solid;opacity:1.0;}
.night .comm_list .more_comm{opacity:0.7;}
.comm_list .more_comm a{display:block;width:130px;height:38px;margin:0 auto;line-height:38px;background:#d22222 url(more_comm_icon.gif) 33px 10px no-repeat;padding-left:66px;color:#fff;border-top:5px #a20022 solid;}
.comm_list .more_comm a:link {background-color:#d22222;border-color:#d22222;}
.comm_list .more_comm a:visited {background-color:#d22222;border-color:#d22222;}
.comm_list .more_comm a:hover{background-color:#d22222;border-color:#d22222;}
.comm_list .more_comm a:active{background-color:#d22222;border-color:#d22222;}

/****************************************************************************************************/
/****************************************************************************************************/